/* QuienSoy component */

.quienSoy {
  background-color: var(--white-color);
  padding: 5rem 0;
}

.quienSoy-image {
  border-radius: 5px;
  width: 100%;
}

.quienSoy-title {
  margin-top: 12vh;
}

.quienSoy-title,
.quienSoy-carousel-title {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  color: var(--dark-background-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.quienSoy-carousel-title {
  color: var(--dark-background-color);
}

.quienSoy-paragraph {
  color: var(--white-color) !important;
  /* background-color: var(--light-background-color) !important; */
  font-size: 1.3rem;
  text-align: center;
  text-shadow: 0 0 10px var(--dark-background-color);
  border-radius: 5px;
}

.quienSoyCarousel {
  padding: 1rem 0;
  height: 70vh;
  background-color: var(--white-color);
  color: var(--dark-background-color);
}

.carousel-indicators * {
  background-color: rgba(255, 0, 0, 0) !important;
}

/* Puntos */

.puntos {
  /* width: 100%; */
  padding: 12vh 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.puntos-item {
  margin: 1rem 0;
  color: var(--dark-background-color) !important;
  background-color: rgba(255, 255, 255, 0.76) !important;
  text-shadow: 0 0 10px var(--dark-background-color);
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1.5rem;
  width: 100%;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem 0 5rem 0;
  padding-bottom: 15rem;
}

@media screen and (min-width: 576px) {
  .quienSoy {
    padding-top: 15vh !important;
  }

  .quienSoy-title,
  .quienSoy-carousel-title {
    font-size: 1.8rem;
    color: var(--dark-background-color);
    margin-top: 0;
  }

  .quienSoy-pictureSide {
    height: 100%;
    top: 0 !important;
  }

  .quienSoy-paragraph {
    font-size: 1rem;
  }

  .quienSoyCarousel {
    height: 100%;
    padding: 0;
  }

  .puntos {
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    height:100%;
  }

  .logos {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .quienSoy {
    margin-bottom: 0;
    height: 50vh;
  }

  .quienSoy-title,
  .quienSoy-carousel-title {
    font-size: 2rem;
  }

  .quienSoy-paragraph {
    font-size: 1.2rem;
  }

  .puntos {
    width: 85%;
    margin: 15vh auto;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .puntos-item {
    font-size: 1.4rem;
    margin: 1rem auto;
  }
}

@media screen and (min-width: 992px) {
  .quienSoy {
    width: 70%;
  }

  .puntos {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .quienSoy {
    width: 50%;
  }

  .puntos {
    width: 50%;
  }
}
