/* .acercaDe {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -2;
} */

.acercaDe-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: -1;
}

/* QuienSoy component */

.quienSoy {
  width: 100%;
  height: 100vh;
  padding-top: 15vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--dark-background-color) !important;
  z-index: -1;
}

.quienSoy-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  object-fit: cover;
  object-position: center;
}

.quienSoy-title {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px var(--dark-background-color);
}

.quienSoy-paragraph {
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  text-align: center;
  text-shadow: 0 0 10px var(--dark-background-color);
}
.quienSoy-paragraph-emergent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 0 10px var(--dark-background-color);
  color: var(--white-color) !important;
  background-color: var(--light-background-color) !important;
}

/* Puntos */

.puntos {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white-color) !important;
  color: var(--dark-background-color) !important;
  font-size: 1.5rem;
}

.puntos-item {
    margin-top: 2vh;
}

/* QuienesSomos component */

.quienesSomos {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light-background-color) !important;
  color: var(--white-color);
}

.quienesSomos-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px var(--dark-background-color);
  padding-top: 14vh;
}

.quienesSomos-paragraph {
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 0 0 10px var(--dark-background-color);
  padding: 0.7rem;
}

.quienesSomos-button {
  background-color: var(--dark-background-color);
  color: var(--white-color);
  border: solid 1px var(--light-background-color) !important;
  border-radius: 25px;
  padding: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.quienesSomos-button:hover {
  background-color: var(--light-background-color);
}
