/* .acercaDe {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

/* QuienSoy component */

.quienSoy {
  margin-top: 110vh;
  position: relative;
}

.quienSoy-image {
  border-radius: 5px;
  width: 100%;
}

.quienSoy-title, .quienSoy-carousel-title {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  color: var(--dark-background-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.quienSoy-carousel-title {
  color: var(--white-color) !important;
}

.quienSoy-paragraph {
  color: var(--white-color) !important;
  background-color: var(--light-background-color) !important;
  font-size: 1.3rem;
  text-align: center;
  text-shadow: 0 0 10px var(--dark-background-color);
  border-radius: 5px;
}

.quienSoyCarousel {
 padding: 1rem 0;
 height: 70vh;
}

.carousel-indicators * {
  background-color: rgba(255, 0, 0, 0) !important;
}

/* Puntos */

.puntos {
  width: 100%;
  padding: 5vh 2rem;
}

.puntos-item {
  margin: 1rem 0;
  color: var(--dark-background-color) !important;
  background-color: rgba(255, 255, 255, 0.76) !important;
  text-shadow: 0 0 10px var(--dark-background-color);
  border-radius: 5px;
  padding: 0 1rem;
  font-size: 1.3rem;
}

@media screen and (min-width: 576px) {
  .quienSoy {
    height:60vh;
  }

  .quienSoy-title, .quienSoy-carousel-title {
    font-size: 1.8rem;
  }

  .quienSoy-paragraph {
    font-size: 1rem;
    background-color: var(--white-color) !important;
    color: var(--dark-background-color) !important;
  }

  .quienSoyCarousel {
    height: 100%;
    padding: 0;
  }

  .puntos {
    width: 90%;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  @media screen and (min-width: 768px) {
    .quienSoy {
      margin-top: 25vh !important;
      margin-bottom: 0;
      height: 50vh;
    }

    .quienSoy-title, .quienSoy-carousel-title {
      font-size: 2rem;
    }

    .quienSoy-paragraph {
      font-size: 1.2rem;
    }

    .puntos {
      width: 85%;
      margin: 10vh;
      border-radius: 5px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .puntos-item {
      font-size: 1.4rem;
      margin: 1rem auto;
    }
  }

  @media screen and (min-width: 992px) {
    .quienSoy {
      margin-top: 25vh;
      width: 70%;
    }

    .puntos {
      width: 70%;
    }
  }

  @media screen and (min-width: 1200px) {

    .quienSoy {
      margin-top: 25vh;
      width: 50%;
    }

    .puntos {
      width: 50%;
    }
  }
}


