
.logo {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 10px;
}

.navBar {
  background-color: var(--white-color) !important;
  height: 6vh;
}

.navLink {
    color: var(--dark-background-color) !important;
    font-size: 1.2rem !important;
}

.active {
    color: var(--light-background-color) !important;
    text-decoration: underline;
}

.navbar-toggler {
    color: var(--dark-background-color) !important;
  }
  
  @media screen and (min-width: 768px) {
    .logo {
      width: 200px;
      height: 200px;
    }
}