/* .app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  z-index: -3;
} */

.info-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

/* scroll control */

.snap-container {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.snap-container > div {
  scroll-snap-align: start;
}

/* header y navbar */

.logo {
  width: 4.5rem;
  max-height: 100%;
}

.navBar {
  background-color:  rgba(252, 252, 252, 0.938) !important;
  padding: 0;
}

.navLink {
  color: var(--dark-background-color) !important;
  font-size: 1.3rem !important;
  text-decoration: none;
  cursor: pointer !important;
}

.navLink:hover {
  color: var(--light-background-color)!important;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 7rem;
    height: 7rem;
  }
  .navLink {
    font-size: 1.6rem !important;
    margin: 0 1rem !important;
  }
}

@media screen and (min-width: 992px) {

  .snap-container > div {
  scroll-snap-align: none;
}
  .logo {
    width: 8rem;
    height: 8rem;
  }

  .navLink {
    font-size: 1.4rem !important;
    margin: 0 1rem !important;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    width: 10rem;
    height: 10rem;
  }

  .navLink {
    font-size: 1.6rem !important;
  }
}
