.contacto {
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color) !important;
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto-container {
  background-color: var(--dark-background-color);
  padding: 5rem 1rem;
  color: var(--white-color) !important;
  position: absolute;
  top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-link {
  color: var(--black-text-color) !important;
  text-decoration: none !important;
}

.about-link:hover {
  text-decoration: underline !important;
}

.about-icons {
  color: var(--black-text-color) !important;
}

.about-icons:hover {
  transition: transform 0.5s;
  transform: scale(1.4);
}

@media screen and (min-width: 768px) {
  .contacto-container {
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: solid 1px var(--light-background-color);
    margin-top: 10vh;
  }
}
