/* General */

.carousel-background {
  background-color: var(--white-color);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.cardCarousel {
  width: 100vw !important;
  padding-top: 3vh;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
}
.title {
  font-size: 2rem;
  text-align: center;
  color: var(--dark-background-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.subtitle {
  font-weight: 500;
  font-size: 1rem;
}

.service-button {
  background-color: var(--dark-background-color);
  color: var(--white-color);
  border: solid 1px var(--light-background-color) !important;
  border-radius: 25px;
  padding: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 1rem 0;
}
.service-button:hover {
  background-color: var(--light-background-color);
}

.carousel-image {
  height: 58vh;
  object-fit: cover;
  border-radius: 25px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.carousel-h3 {
  color: var(--dark-background-color) !important;
  padding: 2.2rem 3rem;
  background: radial-gradient(
    closest-side,
    white,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0)
  ) !important;
  border-radius: 25px;
}

/* Info Section */

.info-background {
  width: 100vw;
  height: 100vh;
  color: var(--light-background-color);
  background-color: var(--light-background-color);
  top: 0;
  left: 0;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.info-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.info-text {
  color: var(--dark-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:  rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);;
  margin: 2rem 1rem 0;
  padding: 0.5rem;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 2.5rem !important;
  }
  .subtitle {
    font-size: 1.5rem !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .info-text {
    width: 85%;
    padding:2rem 8rem;
    margin-top: 5vh;
  }
}

@media screen and (min-width: 992px) {
  .title {
    font-size: 2.5rem !important;
  }
  .subtitle {
    font-size: 1.5rem !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .info-text {
    width:70%;
    padding:3rem 8rem;
    margin-top: 10vh;
  }
}
