/* Muchas clases ya están descritas en servicios */

.sectores {
  height:100vh !important;
  background-color: var(--white-color);
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sector {
  background-color: white !important;
}

.sectores-header {
  color: var(--dark-background-color) !important;
  background-color: var(--white-color) !important;
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 5vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.mySwiperSectores {
  padding: 1rem !important;
  height: 40vh !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--white-color) !important;
  
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-slide:hover {
  opacity: 0.5;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .sectores-header {
    margin-bottom: 10vh;
  }

  .mySwiperSectores {
    width: 90vw !important;
  }
}

@media screen and (min-width: 992px) {
  .sectores {
    height: auto !important;
  }
}