.servicios {
    background-color: var(--white-color) !important;
    margin-top: 5rem;
}

.servicios h1 {
    color: var(--dark-background-color) !important;
    background-color: var(--white-color) !important;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.service-card-title {
    color: var(--dark-background-color) !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.service-card-body {
    background-color: var(--light-background-color) !important;
    color: var(--white-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 992px) {

    .servicios h1 {
        margin-bottom: -5rem;
    }

    .service-card-title {
        font-size: 1.6rem;
    }
  }